* {
            margin: 2px;
            padding: 10;
        }

        .logo {}

        .logo img {
            width: 105px;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .right ul {
            gap: 8px;
            display: flex;
        }

        ul li {
            list-style: none;
            font-size: 11px;
            color: #9b9a9a;
            cursor: pointer;


        }

        ul li span {
            display: flex;
            align-items: center;
        }

        ul li span img {
            height: 13px;
        }

        .first {
            display: flex;
            font-family: sans-serif;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 23px;
            margin: 20px 49px;
        }

        span b {
            cursor: pointer;
        }

        .description {
            margin: 0px 85px;
            font-size: 12px;
            text-align: center;
        }

        .first span {
            font-size: 21px;
        }

        .btn {
            cursor: pointer;
            background-color: #00b6d1;
            padding: 9px 13px;
            color: white;
            border: none;
            border-radius: 5px;
            font-weight: 600;
            margin: 8px 0px;
        }

        .green {
            background-color: #5cb85c;
        }

        .item {
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 5px;
            width: 173px;
            height: 75px;
           
        }

        .item-lang {
             
            font-weight: 600;
            font-size: 18px;
            text-align: center;
            padding-bottom: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .flex {
            display: flex;
        }

        .second {
            
            max-width: 80vw;
            margin: auto;
           
        }

        .small {
            font-size: 10px;

        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            
             
        }
        .language{
            font-size: 7px;
           
        }
       .download {
        display: flex;   
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
       
       }
       .download img{
        padding: 0px 5px;
       }
       /* @media screen and (max-width: 1045px) {
        .grid{
            /* background: red; */
            grid-template-columns: 1fr;
           
            /* display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center; */
        } */
       }
        